<nav>
    <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['/register']">Register</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
        <li><a [routerLink]="['/addSequence']">Add sequence</a></li>
        <li><a [routerLink]="['/tmp']">Tmp</a></li>
    </ul>
</nav>