<p>login-form works!</p>
<app-header></app-header>
<form>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password">
    </div>
    <button type="submit">Submit</button>
</form>