<p>add-sequence-form works!</p>
<app-header></app-header>
<form  #formValidator="ngForm" (submit)="sendForm()">
    <div>
        <label for="sequence">Sequence: </label>
        <input #validateSequence [(ngModel)]="sequenceField" type="text" name="sequence" id="sequence" required>
        <div *ngIf="validateSequence?.errors?.required">
            <p class="errorText">Enter a valid sequence</p>
        </div>
    </div>
    <div>
        <label for="type">Type: </label>
        <div>
            <input type="radio" id="dna" name="sequence" value="dna">
            <label for="dna">DNA</label><br>
            
            <input type="radio" id="rna" name="sequence" value="rna">
            <label for="rna">RNA</label><br>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>