<p>register-form works!</p>
<app-header></app-header>
<form #formValidator="ngForm" (submit)="sendForm()">
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input #validatePasswd="ngModel" [(ngModel)]="passwdField" type="password" name="password" id="password"
            appValidatePassword>
        <div *ngIf="!validatePasswd.pristine && !validatePasswd?.errors?.length">
            <p class="errorText">ERROR: Password must be between 5 and 15 characters</p>
        </div>
        <div *ngIf="!validatePasswd.pristine && validatePasswd?.errors?.upperAndLower">
            <p class="errorText">ERROR: Password must has upper and lower characters</p>
        </div>
    </div>
    <div>
        <label for="cpassword">Confirm password: </label>
        <input type="password" name="cpassword" id="cpassword">
    </div>
    <div>
        <label for="city">City: </label>
        <input type="text" name="city" id="city">
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="email" class="form-control" name="email" id="email">
    </div>
    <div>
        <label for="age">Edad: </label>
        <input #validateAges="ngModel" [(ngModel)]="ageField" type="number" name="edad" id="edad" appValidateAge>
        <div *ngIf="!validateAges.pristine && validateAges?.errors?.ageError">
            <p class="errorText">Error. This page is for +18 ages.</p>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>